h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic";
  font-weight: 100; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: 100%;
    font-style: normal;
    color: black; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #404040; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 12px; }

p {
  font-family: "Libre Baskerville";
  font-size: 14px;
  text-align: justify; }
  p a {
    font-family: "Libre Baskerville"; }

a {
  font-family: "League Gothic";
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #0971B2;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #0b8ad9; }

li {
  font-family: "Libre Baskerville";
  font-size: 14px;
  text-align: justify;
  margin-left: 16px; }

dl {
  font-family: "Libre Baskerville";
  font-size: 14px;
  text-align: justify; }

.page-title {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center; }

#menu {
  width: 100%;
  background: #E6E7E8; }
  #menu ul {
    list-style: none;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    #menu ul li {
      display: inline-block;
      width: 8%;
      height: 60px;
      margin-left: 5%;
      margin-right: 5%;
      font-family: "League Gothic";
      text-align: center;
      line-height: 60px; }
      #menu ul li a {
        text-decoration: none;
        display: block;
        color: black;
        font-size: 24px;
        font-style: normal;
        font-weight: 100; }
        #menu ul li a:hover {
          background-color: #d1d3d4; }

#hero {
  text-align: center;
  height: 30vw;
  background-image: url(/theme/dsmworkers/css/Des-Moines-Hero.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #hero img {
    width: 21vw;
    margin-top: 1.5625vw;
    margin-bottom: 1.5625vw; }
  #hero h1 {
    color: white;
    font-size: 6.5vw; }

#aims {
  width: 100%;
  margin-top: 40px;
  display: table; }
  #aims .aim-image {
    width: 44.8%;
    display: table-cell;
    background-image: url(/theme/dsmworkers/css/Evictions-March.jpg);
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat; }
  #aims .aim-list {
    width: 55.2%;
    display: table-cell;
    background-color: #A33E3E;
    padding: 12px; }
    #aims .aim-list h2 {
      margin-bottom: 8px;
      color: black; }
    #aims .aim-list ol {
      padding-left: 16px;
      color: white; }
      #aims .aim-list ol li {
        line-height: 28px; }

#projects {
  margin-top: 70px; }

.page-body {
  max-width: 816px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto; }
  .page-body dl {
    margin-top: 20px; }
    .page-body dl dt {
      font-weight: 600; }
    .page-body dl dd {
      margin-left: 20px; }
  .page-body ol {
    margin-top: 20px;
    margin-bottom: 20px; }
    .page-body ol li {
      margin-top: 15px; }
      .page-body ol li ol {
        margin-top: 0; }
        .page-body ol li ol li {
          margin-top: 0;
          list-style: none; }
          .page-body ol li ol li:before {
            content: "- "; }

.two-column-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 81.6%;
  max-width: 816px;
  display: flex;
  justify-content: space-between; }
  .two-column-container .left-col {
    width: 50%; }
    .two-column-container .left-col img {
      width: 100%;
      margin-bottom: 30px; }
  .two-column-container .right-col {
    width: 43.62745%; }
    .two-column-container .right-col .page-title {
      margin-top: 0;
      text-align: left; }
    .two-column-container .right-col .continue-link {
      display: block;
      margin-top: 8px;
      text-align: right; }

.three-item-container {
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  max-width: 840px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .three-item-container .item {
    width: 31.42857%;
    margin-left: 0.71429%;
    margin-right: 0.71429%; }
    .three-item-container .item img {
      width: 100%; }
    .three-item-container .item p {
      padding-left: 8px;
      padding-right: 8px; }
    .three-item-container .item .continue {
      display: block;
      margin-top: 8px;
      padding-right: 8px;
      text-align: right; }

#project-list {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }

#featured-post h3, #posts h3 {
  font-size: 15px;
  color: #7F7F7F;
  margin-bottom: 10px; }

#posts {
  margin-top: 60px; }
  #posts h2 {
    font-size: 24px; }

.post-list {
  max-width: 816px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }
  .post-list .post {
    margin-bottom: 30px; }
    .post-list .post .post-excerpt {
      display: flex; }
      .post-list .post .post-excerpt .excerpt-text {
        padding-left: 8px;
        width: 100%; }
        .post-list .post .post-excerpt .excerpt-text .post-link {
          display: block;
          margin-top: 20px;
          text-align: right; }
    .post-list .post .image-excerpt .image-link {
      width: 20.47619%;
      margin-right: 1.47059%; }
      .post-list .post .image-excerpt .image-link img {
        width: 100%; }
    .post-list .post .image-excerpt .excerpt-text {
      width: 77.45098%; }

.pagination {
  max-width: 816px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px; }
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination a {
    font-style: normal;
    font-size: 19px; }
  .pagination:after {
    content: "";
    display: block;
    clear: both; }

.post {
  width: 81.6%;
  max-width: 816px;
  margin-left: auto;
  margin-right: auto; }
  .post .byline {
    margin-bottom: 40px; }
    .post .byline .page-title {
      margin-bottom: 0; }
    .post .byline h2 {
      text-align: center;
      font-size: 24px;
      color: #7F7F7F; }
  .post img {
    width: 54.90196%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block; }
  .post p {
    margin-top: 12px;
    margin-bottom: 12px; }
  .post .post-footer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 100%;
    border-top: solid #7F7F7F 4px; }
    .post .post-footer .share, .post .post-footer ul {
      display: inline-block; }
    .post .post-footer ul {
      list-style: none;
      margin-left: 12.7451%; }
      .post .post-footer ul li {
        display: inline-block;
        margin-left: 0;
        padding: 10px;
        background-color: #E6E7E8;
        text-transform: capitalize;
        font-style: italic; }
        .post .post-footer ul li a {
          color: black; }

#page-footer {
  background-color: #4F4F4F;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px; }
  #page-footer .container {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    #page-footer .container a {
      color: white; }
    #page-footer .container .left, #page-footer .container .right {
      width: 20.71429%; }
    #page-footer .container .center {
      width: 53.33333%; }
    #page-footer .container .left, #page-footer .container .center, #page-footer .container .right {
      margin-left: 0.71429%;
      margin-right: 0.71429%;
      font-family: "League Gothic";
      font-weight: 100;
      font-size: 16px;
      line-height: 1.5em;
      color: white; }
      #page-footer .container .left h4, #page-footer .container .center h4, #page-footer .container .right h4 {
        font-weight: 100;
        font-size: 14px; }
    #page-footer .container .left address {
      font-style: normal;
      font-size: 14px; }
    #page-footer .container .left .social {
      display: block;
      margin-top: 5px; }
      #page-footer .container .left .social .facebook {
        margin-right: 5px; }
      #page-footer .container .left .social .twitter {
        margin-left: 5px; }
    #page-footer .container .center {
      text-align: center; }
    #page-footer .container .right ul {
      list-style: none; }
      #page-footer .container .right ul li {
        text-align: right; }
        #page-footer .container .right ul li a {
          font-style: normal; }
          #page-footer .container .right ul li a:hover {
            color: #d9d9d9; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/*# sourceMappingURL=theme.css.map */
