@font-face {
  font-family: "League Gothic";
  src: url("/theme/dsmworkers/css/fonts/leaguegothic-regular.woff2") format("woff2"), url("/theme/dsmworkers/css/fonts/leaguegothic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "League Gothic";
  src: url("/theme/dsmworkers/css/fonts/leaguegothic-italic.woff2") format("woff2"), url("/theme/dsmworkers/css/fonts/leaguegothic-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "LibreBaskerville";
  src: url("/theme/dsmworkers/css/fonts/librebaskerville-regular.woff2") format("woff2"), url("/theme/dsmworkers/css/fonts/librebaskerville-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "LibreBaskerville";
  src: url("/theme/dsmworkers/css/fonts/librebaskerville-italic.woff2") format("woff2"), url("/theme/dsmworkers/css/fonts/librebaskerville-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "LibreBaskerville";
  src: url("/theme/dsmworkers/css/fonts/librebaskerville-bold.woff2") format("woff2"), url("/theme/dsmworkers/css/fonts/librebaskerville-bold.woff") format("woff");
  font-weight: 600;
  font-style: bold; }
h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: 100; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: 100%;
    font-style: normal;
    color: black; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #404040; }

h1 {
  font-size: 2.375em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.1875em; }

h5 {
  font-size: 0.9375em; }

h6 {
  font-size: 0.75em; }

p {
  font-size: 0.875em;
  text-align: justify; }
  p a {
    font-family: "LibreBaskerville", Baskerville, Georgia, serif; }

a {
  font-family: "League Gothic", Impact, sans-serif;
  font-size: 0.875em;
  font-weight: 100;
  font-style: italic;
  color: #0971B2;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #0b8ad9; }

li {
  font-size: 0.875em;
  text-align: justify;
  margin-left: 1em; }

dl {
  font-size: 0.875em;
  text-align: justify; }

.page-title {
  margin-top: 1.31579em;
  margin-bottom: 0.39474em;
  text-align: center; }

hr {
  border-top: solid #7F7F7F 0.25em; }

pre, code {
  font-family: monospace; }

#menu {
  width: 100%;
  background: #E6E7E8; }
  #menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center; }
    #menu ul li {
      width: 8%;
      height: 4.28571em;
      margin: 0;
      font-family: "League Gothic", Impact, sans-serif;
      text-align: center;
      line-height: 4.28571em; }
      #menu ul li a {
        text-decoration: none;
        display: block;
        color: black;
        font-size: 1.71429em;
        font-style: normal;
        font-weight: 100; }
        #menu ul li a:hover {
          background-color: #d1d3d4; }
  #menu #menu-button {
    display: none;
    margin: 0.29167em;
    padding: 0.20833em;
    font-family: "League Gothic", Impact, sans-serif;
    font-size: 1.5em;
    border: 0.08333em solid #4F4F4F;
    border-radius: 0.16667em; }
    #menu #menu-button:hover {
      background-color: #d1d3d4; }

#hero {
  text-align: center;
  height: 30vw;
  background-image: url(/theme/dsmworkers/css/Des-Moines-Hero-1920.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #hero img {
    width: 21vw;
    margin-top: 1.5625vw;
    margin-bottom: 1.5625vw; }
  #hero h1 {
    color: white;
    font-size: 6.5vw; }

#aims {
  width: 100%;
  margin-top: 2.5em;
  display: table; }
  #aims .aim-image {
    width: 44.8%;
    display: table-cell;
    background-image: url(/theme/dsmworkers/css/Evictions-March-1920.jpg);
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat; }
  #aims .aim-list {
    width: 55.2%;
    display: table-cell;
    background-color: #A33E3E; }
    #aims .aim-list .aims-list-content {
      padding: 0.75em; }
      #aims .aim-list .aims-list-content h2 {
        margin-bottom: 0.26667em;
        color: black; }
      #aims .aim-list .aims-list-content ol {
        padding-left: 1em;
        color: white;
        line-height: 1.75em; }

#projects {
  margin-top: 4.375em; }

.page-body {
  max-width: 1000px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto; }
  .page-body p {
    margin-top: 0.75em;
    margin-bottom: 0.75em; }
  .page-body img {
    width: 100%;
    margin-left: 0.85714em;
    margin-right: 0.85714em;
    margin-top: 0.28571em;
    margin-bottom: 1.71429em; }
  .page-body blockquote {
    width: 54.90196%;
    margin-left: auto;
    margin-right: auto;
    border-left: 0.375em solid #7F7F7F;
    padding-left: 0.5em;
    padding-top: 0.0625em;
    padding-bottom: 0.0625em;
    color: #666666; }
  .page-body dl {
    margin-top: 1.25em; }
    .page-body dl dt {
      font-weight: 600; }
    .page-body dl dd {
      padding-left: 1.25em; }
  .page-body ol, .page-body ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em; }
    .page-body ol li, .page-body ul li {
      margin-top: 1.07143em; }
      .page-body ol li ol, .page-body ol li ul, .page-body ul li ol, .page-body ul li ul {
        margin-top: 0; }
        .page-body ol li ol li, .page-body ol li ul li, .page-body ul li ol li, .page-body ul li ul li {
          margin-top: 0;
          list-style: none; }
          .page-body ol li ol li:before, .page-body ol li ul li:before, .page-body ul li ol li:before, .page-body ul li ul li:before {
            content: "- "; }
  .page-body table {
    border: solid 0.0625em black; }
    .page-body table th, .page-body table td {
      border: solid 0.0625em black; }

.two-column-container {
  margin-top: 3.75em;
  margin-left: auto;
  margin-right: auto;
  width: 81.6%;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .two-column-container .left-col {
    width: 50%; }
    .two-column-container .left-col img {
      width: 100%;
      margin-bottom: 2.14286em; }
  .two-column-container .right-col {
    width: 43.62745%; }
    .two-column-container .right-col .page-title {
      margin-top: 0;
      text-align: left; }
    .two-column-container .right-col .continue-link {
      display: block;
      margin-top: 0.57143em;
      text-align: right; }

.three-item-container {
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .three-item-container .item {
    width: 31.42857%;
    margin-left: 0.71429%;
    margin-right: 0.71429%; }
    .three-item-container .item img {
      width: 100%; }
    .three-item-container .item p {
      padding-left: 0.57143em;
      padding-right: 0.57143em; }
    .three-item-container .item .continue {
      display: block;
      margin-top: 0.57143em;
      padding-right: 0.57143em;
      text-align: right; }

#project-list {
  margin-top: 3.75em;
  margin-left: auto;
  margin-right: auto; }

#featured-post h3, #posts h3 {
  font-size: 0.9375em;
  color: #7F7F7F;
  margin-bottom: 0.66667em; }

#posts {
  margin-top: 3.75em; }
  #posts h2 {
    font-size: 1.5em; }

.post-list {
  max-width: 1000px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em; }
  .post-list .post {
    margin-bottom: 1.875em; }
    .post-list .post .post-excerpt {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .post-list .post .post-excerpt .excerpt-text {
        padding-left: 0.5em;
        width: 100%; }
        .post-list .post .post-excerpt .excerpt-text .post-link {
          display: block;
          margin-top: 1.42857em;
          text-align: right; }
    .post-list .post .image-excerpt .image-link {
      width: 20.47619%;
      margin-right: 1.47059%; }
      .post-list .post .image-excerpt .image-link img {
        width: 100%; }
    .post-list .post .image-excerpt .excerpt-text {
      width: 77.45098%; }

.pagination {
  max-width: 1000px;
  width: 81.6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.6875em; }
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination a {
    font-style: normal;
    font-size: 1.1875em; }
  .pagination:after {
    content: "";
    display: block;
    clear: both; }

.bottom-notes {
  width: 81.6%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75em;
  font-style: italic;
  color: #7F7F7F; }
  .bottom-notes p {
    text-align: center; }

.post .byline .page-title {
  margin-bottom: 0; }
.post .byline h2 {
  text-align: center;
  font-size: 1.5em;
  color: #7F7F7F; }
.post .head-image {
  width: 54.90196%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875em;
  margin-top: 1.25em;
  display: block; }
.post .post-footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  padding-top: 1.875em;
  width: 100%;
  border-top: solid #7F7F7F 0.25em; }
  .post .post-footer .share, .post .post-footer ul {
    display: inline-block; }
  .post .post-footer ul {
    list-style: none;
    margin-left: 12.7451%; }
    .post .post-footer ul li {
      display: inline-block;
      margin-left: 0;
      padding: 0.71429em;
      background-color: #E6E7E8;
      text-transform: capitalize;
      font-style: italic; }
      .post .post-footer ul li a {
        color: black; }

.resp-sharing-button__link, .resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button {
  font-family: "League Gothic", Impact, sans-serif; }

.resp-sharing-button__link {
  font-style: normal;
  text-decoration: none;
  color: #fff; }

.resp-sharing-button__link:hover {
  color: #fff; }

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em; }

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em; }

.resp-sharing-button__icon--solid {
  fill: #fff;
  stroke: none;
  margin-right: 0.4em; }

.resp-sharing-button--twitter {
  background-color: #55acee; }

.resp-sharing-button--twitter:hover {
  background-color: #2795e9; }

.resp-sharing-button--facebook {
  background-color: #3b5998; }

.resp-sharing-button--facebook:hover {
  background-color: #2d4373; }

#page-footer {
  background-color: #4F4F4F;
  margin-top: 3.75em;
  padding-top: 1.875em;
  padding-bottom: 1.875em; }
  #page-footer .container {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    #page-footer .container a {
      color: white; }
    #page-footer .container .left, #page-footer .container .right {
      width: 20.71429%; }
    #page-footer .container .center {
      width: 53.33333%; }
      #page-footer .container .center h4 {
        font-size: 1em; }
    #page-footer .container .left, #page-footer .container .center, #page-footer .container .right {
      margin-left: 0.71429%;
      margin-right: 0.71429%;
      font-size: 1.125em;
      line-height: 1.5em;
      color: white; }
      #page-footer .container .left a, #page-footer .container .center a, #page-footer .container .right a {
        font-style: normal; }
        #page-footer .container .left a:hover, #page-footer .container .center a:hover, #page-footer .container .right a:hover {
          color: #d9d9d9; }
    #page-footer .container .left address {
      font-family: "League Gothic", Impact, sans-serif;
      font-style: normal;
      font-size: 1em; }
    #page-footer .container .left .social {
      display: block;
      margin-top: 0.27778em; }
      #page-footer .container .left .social .facebook {
        margin-right: 0.27778em; }
      #page-footer .container .left .social .twitter {
        margin-left: 0.27778em; }
    #page-footer .container .center {
      text-align: center; }
    #page-footer .container .right ul {
      list-style: none; }
      #page-footer .container .right ul li {
        text-align: right;
        font-size: 1em; }

@media (min-width: 1921px) {
  #hero {
    background-image: url(/theme/dsmworkers/css/Des-Moines-Hero-Full.jpg); } }
@media (max-width: 900px) {
  /* Collapse menu */
  #menu #menu-button {
    display: inline-block; }
  #menu ul {
    display: none; }
    #menu ul li {
      display: block;
      width: 100%;
      margin-left: 0;
      line-height: 3em;
      height: 3em;
      border-top: 0.07143em solid #4F4F4F; }

  /* Resize hero image */
  #hero {
    background-image: url(/theme/dsmworkers/css/Des-Moines-Hero-900.jpg); }

  /* Resize aims image */
  #aims .aim-image {
    background-image: url(/theme/dsmworkers/css/Evictions-March-900.jpg); } }
@media (max-width: 700px) {
  /* Items in three column row have own row */
  .three-item-container .item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.875em; }
    .three-item-container .item img {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.71429em; }

  /* Aims items have own row */
  #aims {
    display: block; }
    #aims .aim-image {
      display: block;
      width: 100%;
      height: 12.5em;
      background-image: url(/theme/dsmworkers/css/Evictions-March-700.jpg); }
    #aims .aim-list {
      display: block;
      width: 100%; }

  /* Single projects are one column */
  #project-body .left-col {
    width: 100%; }
  #project-body .right-col {
    margin-top: 1.25em;
    width: 100%; }

  /* Resize hero image */
  #hero {
    background-image: url(/theme/dsmworkers/css/Des-Moines-Hero-700.jpg); } }
@media (max-width: 500px) {
  /* Each item in two column container have own row */
  .two-column-container .left-col {
    width: 100%; }
    .two-column-container .left-col a img {
      display: block;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.71429em; }
  .two-column-container .right-col {
    width: 100%; }

  #project-body .left-col img {
    width: 100%; }

  /* Post list formattin */
  #posts {
    margin-top: 1.25em; }

  .pagination, .bottom-notes {
    margin-top: 1.875em; }

  /* Formatting posts */
  .page-body .byline {
    margin-bottom: 1.875em; }
  .page-body .head-image {
    width: 100%; }

  /* Each section in footer has own row */
  #page-footer {
    padding-top: 0.9375em;
    padding-bottom: 0.9375em; }
    #page-footer .container .left, #page-footer .container .center, #page-footer .container .right {
      width: 100%;
      text-align: center; }
    #page-footer .container .center {
      margin-top: 0.83333em;
      margin-bottom: 0.83333em; }
    #page-footer .container .right ul li {
      text-align: center; }

  /* Resize hero image */
  #hero {
    background-image: url(/theme/dsmworkers/css/Des-Moines-Hero-500.jpg); }

  /* Resize aims image */
  #aims .aim-image {
    background-image: url(/theme/dsmworkers/css/Evictions-March-500.jpg); } }
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "LibreBaskerville", Baskerville, Georgia, serif; }

/*# sourceMappingURL=theme.css.map */
