#aims {
    width: 100%;
    margin-top: 40px;
    display: table;

    .aim-image {
        width: percentage(448/1000);
        display: table-cell;
        background-image: url(/theme/dsmworkers/css/Evictions-March.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .aim-list {
        width: percentage(552/1000);
        display: table-cell;
        background-color: $red;
        padding: 12px;
        
        h2 {
            margin-bottom: 8px;
            color: black;
            font-family: $sans-font;
            font-size: 24px;
            font-weight: 100;
        }

        ol {
            padding-left: 16px;
            color: white;
            font-family: $serif-font;
            font-size: 14px;
            
            li {
                line-height: 28px;
            }
        }
    }
}
