#hero {
    text-align: center;
    //height: 384px;
    height: 30vw; //(100/1280)*384px
    background-color: black;
    background-image: url(/theme/dsmworkers/css/Des-Moines-Hero.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    img {
        width: 21vw;
        margin-top: 1.5625vw;
        margin-bottom: 1.5625vw;
    }

    h1 {
        color: $hero-font-color;
        font-family: $sans-font;
        font-size: 6.5vw; //~((100/1280)*70) + 1
    }
}
