#projects {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: percentage(840/1000);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.project {
		width: percentage(264/840);
		margin-left: percentage(6/840);
		margin-right: percentage(6/840);

		img {
			width: 100%;
		}

		h3 {
			font-family: $sans-font;
			font-size: 24px;
			font-weight: 100;
		}

		p {
			font-family: $serif-font;
			font-size: 14px;
		}

		a {
			display: block;
			margin-top: 8px;
			font-family: $sans-font;
			font-size: 14px;
			font-weight: 100;
			font-style: italic;
			color: $blue;
			text-decoration: none;
			text-align: right;

			&:hover {
				text-decoration: underline;
				color: lighten($blue, 8);
			}
		}
	}
}
