.resp-sharing-button__link, .resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button {
    font-family: $sans-font;
}

.resp-sharing-button__link {
    font-style: normal;
    text-decoration: none;
    color: #fff;
}

.resp-sharing-button__link:hover {
    color: #fff;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
}

.resp-sharing-button__icon--solid {
    fill: #fff;
    stroke: none;
    margin-right: 0.4em;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373;
}
