h1, h2, h3, h4, h5, h6 {
	font-family: $sans-font;
	font-weight: 100;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 12px;
}

p {
	font-family: $serif-font;
	font-size: 14px;
	
	a {
		font-family: $serif-font;
	}
}

a {
	font-family: $sans-font;
	font-size: 14px;
	font-weight: 100;
	font-style: italic;
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: lighten($blue, 8);
	}
}
