h1, h2, h3, h4, h5, h6 {
	font-family: $sans-font;
	font-weight: 100;

	a {
		font-size: 100%;
		font-style: normal;
		color: black;

		&:hover {
			color: lighten(black, 25);
		}
	}
}

h1 {
	font-size: em(38);
}

h2 {
	font-size: em(30);
}

h3 {
	font-size: em(24);
}

h4 {
	font-size: em(19);
}

h5 {
	font-size: em(15);
}

h6 {
	font-size: em(12);
}

p {
	font-family: $serif-font;
	font-size: em(14);
	text-align: justify;
	
	a {
		font-family: $serif-font;
	}
}

a {
	font-family: $sans-font;
	font-size: em(14);
	font-weight: 100;
	font-style: italic;
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: lighten($blue, 8);
	}
}

li {
	font-family: $serif-font;
	font-size: em(14);
	text-align: justify;
	margin-left: em(16);
}

dl {
	font-family: $serif-font;
	font-size: em(14);
	text-align: justify;
}

.page-title {
	margin-top: em(50, 38);
	margin-bottom: em(15, 38);
	text-align: center;
}

hr {
	border-top: solid $light-grey em(4);
}

