// Need to import fonts
$sans-font: "League Gothic";
$serif-font: "Libre Baskerville";
$menu-background: #E6E7E8;
$menu-font-color: black;
$hero-font-color: white;
$red: #A33E3E;
$blue: #0971B2;
$grey: #4F4F4F;
$light-grey: #7F7F7F;

