$sans-font: "League Gothic", Impact, sans-serif;
$serif-font: "LibreBaskerville", Baskerville, Georgia, serif;
$menu-background: #E6E7E8;
$menu-font-color: black;
$hero-font-color: white;
$red: #A33E3E;
$blue: #0971B2;
$grey: #4F4F4F;
$light-grey: #7F7F7F;
$max-width: 1000px;

