.page-body {
	max-width: 816px;
	width: percentage(816/1000);
	margin-left: auto;
	margin-right: auto;

	p {
		margin-top: em(12);
		margin-bottom: em(12);
	}

	img {
		width: 100%;
		margin-left: em(12, 14);
		margin-right: em(12, 14);
		margin-top: em(4, 14);
		margin-bottom: em(24, 14);
	}

	blockquote {
		width: percentage(448/816);
		margin-left: auto;
		margin-right: auto;
		border-left: em(6) solid $light-grey;
		padding-left: em(8);
		padding-top: em(1);
		padding-bottom: em(1);
		color: darken($light-grey, 10);
	}

	dl {
		margin-top: em(20);

		dt {
			font-weight: 600;
		}

		dd {
			padding-left: em(20);
		}
	}

	ol, ul {
		margin-top: em(20);
		margin-bottom: em(20);

		li {
			margin-top: em(15, 14);

			ol, ul {
				margin-top: 0;

				li {
					margin-top: 0;
					list-style: none;

					&:before {
						content: "- "
					}
				}
			}
		}
	}

	table {
		border: solid em(1) black;

		th, td {
			border: solid em(1) black;
		}
	}
}

.two-column-container {
	margin-top: em(60);
	margin-left: auto;
	margin-right: auto;
	width: percentage(816/1000);
	max-width: 816px;
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	.left-col {
		width: percentage(408/816);

		img {
			width: 100%;
			margin-bottom: em(30, 14);
		}
	}

	.right-col {
		width: percentage(356/816);

		.page-title {
			margin-top: 0;
			text-align: left;
		}

		.continue-link {
			display: block;
			margin-top: em(8, 14);
			text-align: right;
		}
	}
}

.three-item-container {
    margin-left: auto;
    margin-right: auto;
		width: percentage(840/1000);
    max-width: 840px;
		@include flexbox;
		@include flex-wrap(wrap);
		@include justify-content(center);

    .item {
				width: percentage(264/840);
        margin-left: percentage(6/840);
        margin-right: percentage(6/840);

        img {
            width: 100%;
        }

				p {
					padding-left: em(8, 14);
					padding-right: em(8, 14);
				}

        .continue {
						display: block;
						margin-top: em(8, 14);
						padding-right: em(8, 14);
						text-align: right;
        }
    }
}

