.page-body {
	max-width: 816px;
	width: percentage(816/1000);
	margin-left: auto;
	margin-right: auto;

	p {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	img {
		width: 100%;
		margin-left: 12px;
		margin-right: 12px;
		margin-top: 4px;
		margin-bottom: 24px;
	}

	blockquote {
		width: percentage(448/816);
		margin-left: auto;
		margin-right: auto;
		border-left: 6px solid $light-grey;
		padding-left: 8px;
		padding-top: 1px;
		padding-bottom: 1px;
		color: darken($light-grey, 10);
	}

	dl {
		margin-top: 20px;

		dt {
			font-weight: 600;
		}

		dd {
			margin-left: 20px;
		}
	}

	ol {
		margin-top: 20px;
		margin-bottom: 20px;

		li {
			margin-top: 15px;

			ol {
				margin-top: 0;

				li {
					margin-top: 0;
					list-style: none;

					&:before {
						content: "- "
					}
				}
			}
		}
	}

	table {
		border: solid 1px black;

		th, td {
			border: solid 1px black;
		}
	}
}

.two-column-container {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: percentage(816/1000);
	max-width: 816px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.left-col {
		width: percentage(408/816);

		img {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.right-col {
		width: percentage(356/816);

		.page-title {
			margin-top: 0;
			text-align: left;
		}

		.continue-link {
			display: block;
			margin-top: 8px;
			text-align: right;
		}
	}
}

.three-item-container {
    margin-left: auto;
    margin-right: auto;
    width: percentage(840/1000);
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
        width: percentage(264/840);
        margin-left: percentage(6/840);
        margin-right: percentage(6/840);

        img {
            width: 100%;
        }

				p {
					padding-left: 8px;
					padding-right: 8px;
				}

        .continue {
            display: block;
            margin-top: 8px;
						padding-right: 8px;
            text-align: right;
        }
    }
}

