#featured-post, #posts {
	h3 {
		font-size: 15px;
		color: $light-grey;
		margin-bottom: 10px;
	}
}

#posts {
	margin-top: 60px;

	h2 {
			font-size: 24px;
	}
}

.post-list {
	max-width: 816px;
	width: percentage(816/1000);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

	.post {
		margin-bottom: 30px;

		.post-excerpt {
			display: flex;

			.excerpt-text {
				padding-left: 8px;
				width: 100%;

				.post-link {
					display: block;
					margin-top: 20px;
					text-align: right;
				}
			}
		}

		.image-excerpt {
			.image-link {
				width: percentage(172/840);
				margin-right: percentage(12/816);

				img {
					width: 100%;
				}
			}

			.excerpt-text {
				width: percentage(632/816);
			}
		}
	}
}

.pagination {
	max-width: 816px;
	width: percentage(816/1000);
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	//display: flex;
	//justify-content: space-between;

	.prev {
		float: left;
	}

	.next {
		float: right;
	}

	a {
		font-style: normal;
		font-size: 19px;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.bottom-notes {
	width: percentage(816/1000);
	max-width: 816px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	font-style: italic;
	color: $light-grey;

	p {
		text-align: center;
	}
}

.post {
	.byline {
		margin-bottom: 40px;

		.page-title {
			margin-bottom: 0;
		}

		h2 {
			text-align: center;
			font-size: 24px;
			color: $light-grey;
		}
	}

	.head-image {
		width: percentage(448/816);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 24px;
		display: block;
	}

	.post-footer {
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 30px;
		width: 100%;
		border-top: solid $light-grey 4px;

		.share, ul {
			display: inline-block;
		}

		ul {
			list-style: none;
			margin-left: percentage(104/816);

			li {
				display: inline-block;
				margin-left: 0;
				padding: 10px;
				background-color: $menu-background;
				text-transform: capitalize;
				font-style: italic;

				a {
					color: black;
				}
			}
		}
	}
}
