// Need to import fonts
$sans-font: "League Gothic";
$serif-font: "Libre Baskerville";
$menu-background: #E6E7E8;
$menu-font-color: black;
$hero-font-color: white;
$red: #A33E3E;
$blue: #0971B2;
$grey: #4F4F4F;
@import "_menu.scss";
@import "_hero.scss";
@import "_aims.scss";
@import "_projects-index.scss";
@import "_foot.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
