@import "_variables.scss";
@import "_typography.scss";
@import "_menu.scss";
@import "index.scss";
@import "general-page.scss";
@import "_foot.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
