	<footer>
		<div id="left">
			<address>
				dsmworkers@riseup.net<br>
				(515) 505-3242<br>
			</address>
			<span class="social">
				<a href="#">Facebook</a>
				<a href="#">Twitter</a>
			</span>
		</div>

		<div id="center">
			<h4>{{ app.config.get('general/payoff') }}</h4>
		</div>

		<div id="right">
			{{ menu('main', 'partials/_menu.twig') }}
		</div>
	</footer>
</body>
</html>
